<!DOCTYPE html>
<html>
<head>
    <title>Salary Page</title>
</head>
<body>
    <h1>Зарплата:</h1>
    <p>{{ salary }}</p>
    <h1>Дата следующего повышения:</h1>
    <p>{{ next_raise }}</p>
</body>
</html>
