<!DOCTYPE html>
<html>
<head>
    <title>Token Page</title>
</head>
<body>
    <h1>Ваш токен:</h1>
    <p>{{ token }}</p>
    <a href="/salary?token={{ token }}">Данные о зарплате</a>
</body>
</html>
